*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:"Merienda",cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.contenedor1{
    width: 400px;
    color:#6495ED;
    padding: 30px 40px;
    border-radius: 15px;
    background: rgba(255, 249, 249, 0.7);
}
.input-box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #CCCCFF;
    border: 2px solid #CCCCFF;
    font-size: 16px;
    padding: 10px;
}
.input-box i{
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}
.rm{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 15px;
}
.rm a{
    border-bottom: 2px solid transparent;
    color:#6495ED;
}
.rm a:hover{
    border-bottom: 2px solid #6495ED;
    color:#6495ED;
}
.btn{
    width: 100%;
    height: 40px;
    background: #6495ED;
    color: #000;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
}
.btn:hover{
    background: transparent;
    border: 2px solid #6495ED;
    color: #fff;
    box-shadow: 0 0 20px #6495ED;
}
.Regístrate{
    font-size: 14px;
    margin-top: 25px;
}
.Regístrate p a{
    font-weight: 400;
    color: #fff;
}
.Regístrate p a:hover{
    border-bottom: 2px solid #fff;
    color: #6495ED;
}